body {
  background: linear-gradient(#6a0dad, #a0c3d2);

  background-attachment: fixed;
  background-repeat: no-repeat;


}

.center-line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  background-color: #6a0dad;
  top: 0;
  bottom: 0;
  /* Sayfanın tamamını kapsaması için */
}

.card-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 40px;
}

.left-card,
.right-card {
  width: 45%;
}

.left-card {
  text-align: right;
}

.card:hover {
  transform: scale(1.05);
  transition: 0.3s;

}

.card-body {
  color: #333;



  background-color: #fff;

  box-shadow: 3px 3px 10px rgba(249, 2, 216, 0.1);
}

.container {
  position: relative;
}

.card {
  clip-path: polygon(19% 14%, 81% 13%, 100% 36%, 100% 65%, 78% 87%, 19% 87%, 0 63%, 0 35%);
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}


.card-mevzuat {
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  padding-top: 10px;
  padding-bottom: 10px;
}

.space{
  margin-top: 7rem; 

}
.card-title {
  font-weight: bold;
  color: #6a0dad;
  text-align: center;
}

.card-text {
  text-align: center;
}

.btn-detail {

  display: block;
  margin: 0 auto;
}

.right-card-mevzuat {

  margin-top: 7rem;
}
 .card-mevzuat{
  width: 35vw;
 }

@keyframes card-left-animation {

  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }


}

.left-card {
  animation: card-left-animation 1s ease-in-out;
}


@keyframes card-right-animation {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }

}

.right-card {
  animation: card-right-animation 1s ease-in-out;
}


.navbar {
  background-color: #6a0dad !important;
  /* Mor renk */
}

.navbar .nav-link,
.navbar .navbar-brand{
  color: #B2DFDB;
  font-weight: bold;

  /* Beyaz yazı */
}

.navbar-brand {
  color: #FFC1CC !important;
  font-size: 27px;
}

.navbar .nav-link:hover {
  color: #d8b0ff;
  /* Hover sırasında açık mor */
}
.navbar .active{
  color: #B2DFDB !important;
}
.navbar {
  display: flex;
  justify-content: center;
}


.yasal-haklar-header {
  font-weight: bold;
  color: #6a0dad;
}

.main-header-container {
  text-align: center;
  margin-bottom: 40px;
  background-color: #f2a3ed;
  font-family: sans-serif;
  padding: 20px;
}

.carousel-item img {
  object-fit: contain; /* Resmin düzgün yerleşmesi için */

  image-orientation: from-image;

  height: 70vh; /* Ekranın %50 yüksekliği */
  width: 100%; /* Resmin genişliği tam genişlikte */
  overflow: hidden;
  background-position: center;
}


@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
    /* Kartları dikey hizala */
    align-items: center;
    justify-content: center;
  }
  .card-mevzuat{
    width: 85vw;
   }
  .right-card-mevzuat {

    margin-top: 0.5rem !important;
  }

  .left-card,
  .right-card {
    width: 100%;
    /* Kartlar tam genişlik kaplar */
    text-align: center;
    /* Kart içeriğini ortala */
    margin-bottom: 20px;
  }

  .center-line {
    display: none;
  }
}

.modal-detail .modal-dialog {
  max-width: 90%;
  /* Modal genişliğini artırır */
  margin: 30px auto;
  /* Modal'ı dikey ve yatay olarak ortalar */
}

.modal-detail .modal-content {
  height: 50vh !important;
  /* Yükseklik içeriğe göre ayarlanır */

  max-height: 90vh;
  /* Görünüm alanının %90'ını geçemez */
  overflow-y: auto;
  /* İçerik taşarsa kaydırılabilir */


  border-radius: 15px;
}





#hak-kategorileri , #mevzuat {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 40px;
}




#iletisim {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 40px;
}

/* Kart Tasarımı */
.kart {
  position: relative;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #6a1b9a; /* Mor */
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.kart:hover {
  transform: translateY(-10px);
}

.kart .icerik {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  backface-visibility: hidden;
  text-align: center;
  font-size: 18px;
  transition: transform 0.6s ease;
}


.kart .on-yuz {
  background-color: #8e44ad;
  z-index: 2;
  transform: rotateY(0deg);
}

.kart .arka-yuz {
  background-color: #4a148c;
  transform: rotateY(180deg);
  padding: 10px;
}

.kart:hover .on-yuz {
  transform: rotateY(180deg);
}

.kart:hover .arka-yuz {
  transform: rotateY(360deg);
}


.btn-primary{

  background-color: #d9a5ff !important;
  border:none !important;
}